.login_main {
    display: flex;
    flex-direction: row;
    flex: 5;
}

.login_logo {
    position: absolute;
    margin-left: 2vh;
    margin-top: 2vh;
    flex: 1;
}

.logo {
    width: 12vh;
    height: 12vh;
}

.login_inner_main {
    align-items: center;
    position: relative;
    flex: 7;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.login_greeting {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login_main_box {
    flex: 4;
}

.login_welcome {
    display: flex;
    align-items: last baseline;
    flex: 1;
}

.login_welcome_text {
    color: #AD5CC6;
    text-align: center;
    font-family: "Inter";
    font-size: 3vh;
    font-style: normal;
    font-weight: 1000;
    line-height: normal;
}

.login_PrepPal {
    color: #AD5CC6;
    text-align: center;
    text-shadow: 0vh 0.2vh 0.2vh rgba(0, 0, 0, 0.25);
    font-family: "Inter";
    font-size: 7vh;
    font-style: normal;
    font-weight: 1000;
    line-height: normal;
    flex: 1;
}


.login_white_box {
    width: 80vh;
}

.email_bar {
    z-index: 1;
}